.pie-chart {
  padding: 6px 12px;
  font-family: monospace;
  flex-grow: 1;
  padding: 20px;
}

.chart {
  width: 127px;
}

.Modal {
  position: absolute;
  top: 0;
  left: 240px;
  margin: 12px;
  background-color: #f8f8f8;
}

.pie-chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
